
*.dll
*.exe
*.obj
NewStarterProject/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NewStarterProject/obj/Debug/net8.0/NewStarterProject.AssemblyInfo.cs
NewStarterProject/obj/Debug/net8.0/NewStarterProject.AssemblyInfoInputs.cache
NewStarterProject/obj/Debug/net8.0/NewStarterProject.assets.cache
*.cache
NewStarterProject/obj/Debug/net8.0/NewStarterProject.csproj.BuildWithSkipAnalyzers
NewStarterProject/obj/Debug/net8.0/NewStarterProject.csproj.CopyComplete
NewStarterProject/obj/Debug/net8.0/NewStarterProject.csproj.FileListAbsolute.txt
*.editorconfig
NewStarterProject/obj/Debug/net8.0/NewStarterProject.GlobalUsings.g.cs
NewStarterProject/obj/Debug/net8.0/NewStarterProject.MvcApplicationPartsAssemblyInfo.cs
NewStarterProject/obj/Debug/net8.0/NewStarterProject.pdb
NewStarterProject/obj/Debug/net8.0/staticwebassets.build.json
NewStarterProject/obj/Debug/net8.0/staticwebassets/msbuild.build.NewStarterProject.props
*.props
NewStarterProject/obj/NewStarterProject.csproj.nuget.g.targets
NewStarterProject/obj/Debug/net8.0/NewStarterProject.sourcelink.json
NewStarterProject/obj/NewStarterProject.csproj.nuget.dgspec.json
NewStarterProject/obj/project.assets.json
NewStarterProject/bin/Debug/net8.0/appsettings.Development.json
NewStarterProject/bin/Debug/net8.0/appsettings.json
NewStarterProject/bin/Debug/net8.0/NewStarterProject.deps.json
NewStarterProject/bin/Debug/net8.0/NewStarterProject.pdb
NewStarterProject/bin/Debug/net8.0/NewStarterProject.runtimeconfig.json
*.vsidx
NewStarter.Api.New/obj/Debug/net8.0/NewStarter.Api.New.AssemblyInfo.cs
NewStarter.Api.New/obj/Debug/net8.0/NewStarter.Api.New.AssemblyInfo.cs
NewStarter.Application/obj/Debug/net8.0/NewStarter.Application.AssemblyInfo.cs
NewStarter.Domain/obj/Debug/net8.0/NewStarter.Domain.AssemblyInfo.cs
NewStarter.Infrastructure/obj/Debug/net8.0/NewStarter.Infrastructure.AssemblyInfo.cs
NewStarter.Api.New/obj/Debug/net8.0/NewStarter.Api.New.AssemblyInfo.cs
NewStarter.Domain/obj/Debug/net8.0/NewStarter.Domain.AssemblyInfo.cs
